[submodule "Services/Medical.ApiGateway"]
	path = Services/Medical.ApiGateway
	url = https://github.com/eglisonsouza/Medical.ApiGateway.git
[submodule "Services/Medical.Attendance"]
	path = Services/Medical.Attendance
	url = https://github.com/eglisonsouza/Medical.Attendance.git
[submodule "Services/Medical.Management"]
	path = Services/Medical.Management
	url = https://github.com/eglisonsouza/Medical.Management.git
[submodule "Services/Medical.User"]
	path = Services/Medical.User
	url = https://github.com/eglisonsouza/Medical.User.git
[submodule "App/Medical.Management.App"]
	path = App/Medical.Management.App
	url = https://github.com/eglisonsouza/Medical.Management.App.git
[submodule "Services/Smart.Payment"]
	path = Services/Smart.Payment
	url = https://github.com/eglisonsouza/Smart.Payment.git
[submodule "Building Blocks/Smart.Essentials.HttpRequest"]
	path = Building Blocks/Smart.Essentials.HttpRequest
	url = https://eglisonsouza2019@dev.azure.com/eglisonsouza2019/SmartSystem/_git/Smart.Essentials.HttpRequest
